* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.blog__header {
    margin: 0;
}

.content__main {
    background-color: #ececf7;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}