@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body {
    background-color: lightblue;
    font-family: 'Montserrat';
    color: darkblue;
    font-size: 1rem;
}

h1 {
    font-weight: 800;
    text-align: center;
}

#challenge1 p {
    margin: 1rem;
}

#challenge2 .box:nth-child(1) {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    background-color: lightgreen;
}

#challenge2 .box:nth-child(1):hover {
    background-color: pink;
}

#challenge2 .box:nth-child(2) {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: lightslategray;
    border-color: black;
    border-width: 10px;
    border-style: solid;
}
 
#challenge2 .box:nth-child(2):hover {
    background-color: black;
    border-color: lightslategray;
}

#challenge2 .box:nth-child(3) {
    margin: 10px;
    width: 100px;
    height: 0; 
    border-top: 50px white; 
    border-bottom: 50px red; 
    border-left: 0px transparent;
    border-right: 0px transparent;
    border-style: solid;
}

#challenge2 .box:nth-child(3):hover {
    border-bottom-color: white; 
    border-top-color: red; 
}

#challenge3 a {
    color: darkblue;
    text-decoration: underline;
}

#challenge3 a:visited {
    color: lightslategray;
}

#challenge3 a:hover {
    color: red;
    font-weight: bold;
}

#challenge3 li { 
    list-style-type:  "🍔 ";
}

#challenge4 p:empty {
    display: none;
}

#challenge4 input:disabled {
    display: none;
}

#challenge4 a[href*="recipe"] {
    display: none;
}

#challenge5 img {
    width: 70%;
    min-height: 100px;
    max-width: 500px;
}

#challenge5 figcaption {
    font-size: 0.7rem;
}